<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>首页</title>
    <!-- 引入bootstrap -->
    <link rel="stylesheet" href="../../bootstrap_dist/css/bootstrap.min.css" />
    <!-- 引入layui -->
    <link rel="stylesheet" href="../../layui/css/layui.css" />
    <!-- 引入自定义修改样式 -->
    <link href="./mainPage.css" rel="stylesheet" />
    <!-- 引入js -->
    <script src="./mainPage.js"></script>
    <script src="../../layui/layui.js"></script>
    <script>
      //注意：导航 依赖 element 模块，否则无法进行功能性操作
      layui.use("element", function () {
        var element = layui.element;
        //…
      });
    </script>
  </head>

  <body>
    <div class="wrapper">
      <!-- 头部 -->
      <div class="main-header can-drag">
        <span
          class="glyphicon glyphicon-option-horizontal cant-drag left-icon"
          aria-hidden="true"
        ></span>
        <span
          class="glyphicon glyphicon-record cant-drag right-icon"
          cant-drag
          aria-hidden="true"
        ></span>
      </div>
      <!-- 上方的用户信息 -->
      <div class="user-info">
        <div class="avatar layui-anim-loop layui-anim-rotate">
          <a href="#">
            <img class="user-avatar" src="./img/user.png" />
          </a>
        </div>
        <div class="name-words">
          <p class="name">Method.</p>
          <p class="words">单是说不行，要紧的是做。</p>
        </div>
      </div>
      <!-- 搜索框 -->
      <div class="input-group">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <input type="text" class="form-control" placeholder="搜索" />
      </div>
      <!-- 消息列表 -->
      <div class="msg-list">
        <!-- 导航条 -->
        <!-- <ul class="layui-nav" lay-filter="">
          <li class="layui-nav-item layui-this"><a href="">消息&nbsp;&nbsp;</a></li>
          <li class="layui-nav-item "><a href="">联系人</a></li>
        </ul> -->
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
          <ul class="layui-tab-title">
            <li class="layui-this">消息</li>
            <li>联系人</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
              <ul class="history-list" id="historyListID">
                <!-- <li class="chat-item">Cof11fee</li> -->
              </ul>
            </div>
            <div class="layui-tab-item">联系人</div>
          </div>
        </div>
      </div>
      <!-- 底部 -->
      <div class="main-footer"></div>
    </div>
  </body>
</html>
