<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./mainPage.css" rel="stylesheet">
    <script src="./mainPage.js"></script>
</head>

<body>
  <div class="wrapper">
    <!-- 头部 -->
    <div class="main-header can-drag">
      <span class="glyphicon glyphicon-option-horizontal cant-drag left-icon" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-record cant-drag right-icon" cant-drag aria-hidden="true"></span>
    </div>
    <!-- 消息列表 -->
    <div class="msg-list">

    </div>
    <!-- 底部 -->
    <div class="main-footer">

    </div>
  </div>
</body>

</html>